h2 {
    text-align: left;
}

.box {
    width: 45%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#BOXformgeral{
    padding-top: 100px;
    box-sizing: border-box;
}

#DOARdescri{
    padding-bottom: 100px ;
    box-sizing: border-box;
}